Repository ITA-OneByte/OneByte-BE, pull requests merged in 2025-02, with the labels that each got.

#273 [Refactor] @Async를 통한 이메일 인증 기능 비동기 처리
  src/main/java/classfit/example/classfit/auth/filter/JWTFilter.java
  src/main/java/classfit/example/classfit/common/config/AsyncConfig.java
  src/main/java/classfit/example/classfit/mail/service/EmailAsyncService.java
  src/main/java/classfit/example/classfit/mail/service/EmailService.java
Labels: Refactor

#277 [Refactor] AWS Multipart 업로드 방식에 따른 드라이브 기능 수정
  src/main/java/classfit/example/classfit/auth/exception/CustomAuthenticationFailureHandler.java
  src/main/java/classfit/example/classfit/common/config/SecurityConfig.java
  src/main/java/classfit/example/classfit/common/response/ErrorCode.java
  src/main/java/classfit/example/classfit/common/util/DriveUtil.java
  src/main/java/classfit/example/classfit/drive/controller/DriveFileController.java
  src/main/java/classfit/example/classfit/drive/controller/DriveFolderController.java
  src/main/java/classfit/example/classfit/drive/controller/DriveGetController.java
  src/main/java/classfit/example/classfit/drive/controller/DriveTrashController.java
  src/main/java/classfit/example/classfit/drive/controller/docs/DriveFileControllerDocs.java
  src/main/java/classfit/example/classfit/drive/controller/docs/DriveFolderControllerDocs.java
  src/main/java/classfit/example/classfit/drive/controller/docs/DriveGetControllerDocs.java
  src/main/java/classfit/example/classfit/drive/controller/docs/DriveTrashControllerDocs.java
  src/main/java/classfit/example/classfit/drive/domain/Drive.java
  src/main/java/classfit/example/classfit/drive/domain/PersonalDrive.java
  src/main/java/classfit/example/classfit/drive/domain/SharedDrive.java
  src/main/java/classfit/example/classfit/drive/domain/enumType/DriveType.java
  src/main/java/classfit/example/classfit/drive/domain/enumType/FileType.java
  src/main/java/classfit/example/classfit/drive/domain/enumType/ObjectType.java
  src/main/java/classfit/example/classfit/drive/dto/response/DriveFileResponse.java
  src/main/java/classfit/example/classfit/drive/dto/response/DrivePreSignedResponse.java
  src/main/java/classfit/example/classfit/drive/dto/response/FileResponse.java
  src/main/java/classfit/example/classfit/drive/repository/DriveRepository.java
  src/main/java/classfit/example/classfit/drive/service/DriveDeleteService.java
  src/main/java/classfit/example/classfit/drive/service/DriveDownloadService.java
  src/main/java/classfit/example/classfit/drive/service/DriveFolderService.java
  src/main/java/classfit/example/classfit/drive/service/DriveGetService.java
  src/main/java/classfit/example/classfit/drive/service/DriveRestoreService.java
  src/main/java/classfit/example/classfit/drive/service/DriveTrashService.java
  src/main/java/classfit/example/classfit/drive/service/DriveUploadService.java
Labels: Feat, Refactor

#281 [Test] 주요 로직 테스트 코드 작성
  gradle/wrapper/gradle-wrapper.properties
  src/main/java/classfit/example/classfit/common/util/DriveUtil.java
  src/main/java/classfit/example/classfit/drive/domain/Drive.java
  src/main/java/classfit/example/classfit/drive/repository/DriveRepository.java
  src/main/java/classfit/example/classfit/student/dto/request/StudentUpdateRequest.java
  src/main/java/classfit/example/classfit/student/service/StudentService.java
  src/test/java/classfit/example/classfit/academy/service/AcademyCreateServiceTest.java
  src/test/java/classfit/example/classfit/academy/service/AcademyJoinServiceTest.java
  src/test/java/classfit/example/classfit/drive/service/DriveDeleteServiceTest.java
  src/test/java/classfit/example/classfit/drive/service/DriveDownloadServiceTest.java
  src/test/java/classfit/example/classfit/drive/service/DriveGetServiceTest.java
  src/test/java/classfit/example/classfit/drive/service/DriveRestoreServiceTest.java
  src/test/java/classfit/example/classfit/drive/service/DriveTrashServiceTest.java
  src/test/java/classfit/example/classfit/drive/service/DriveUploadServiceTest.java
  src/test/java/classfit/example/classfit/invitation/service/InvitationServiceTest.java
  src/test/java/classfit/example/classfit/mail/service/EmailServiceTest.java
  src/test/java/classfit/example/classfit/member/service/MemberServiceTest.java
  src/test/java/classfit/example/classfit/student/service/StudentCreateServiceTest.java
  src/test/java/classfit/example/classfit/student/service/StudentDeleteServiceTest.java
  src/test/java/classfit/example/classfit/student/service/StudentQueryServiceTest.java
Labels: Test

#283 [Test] exam,examscore,course 테스트코드 추가
  src/main/java/classfit/example/classfit/course/service/MainClassService.java
  src/main/java/classfit/example/classfit/exam/repository/ExamRepository.java
  src/main/java/classfit/example/classfit/exam/repository/ExamScoreRepository.java
  src/main/java/classfit/example/classfit/exam/service/ExamService.java
  src/main/java/classfit/example/classfit/scoreReport/controller/ScoreReportController.java
  src/main/java/classfit/example/classfit/scoreReport/dto/process/StudentList.java
  src/main/java/classfit/example/classfit/scoreReport/dto/response/CreateReportResponse.java
  src/main/java/classfit/example/classfit/scoreReport/service/ScoreReportService.java
  src/main/java/classfit/example/classfit/student/repository/EnrollmentRepository.java
  src/test/java/classfit/example/classfit/course/MainCourseServiceTest.java
  src/test/java/classfit/example/classfit/course/SubCourseServiceTest.java
  src/test/java/classfit/example/classfit/exam/ExamScoreServiceTest.java
  src/test/java/classfit/example/classfit/exam/ExamServiceTest.java
Labels: Test
